@charset "UTF-8";
@import url("style/header.css");
@import url("style/carrossel.css");

body, li, p{
    margin: 10px;
    padding: 5px;
}

:root {
    --cor-de-fundo:#ffe291;
    --branco: #FFFFFF;
    --laranja: #ffaa00;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --azul: #002F52;
    --preto:#000000;
    --rosa: #ff2436;
    --fonte-principal: "Poppins";
    --azul: #002F52;
    --fonte-secundaria: "Josefin Sans";
    --preto:#000000;
    --laranja-vermelho: #dd5212;

    
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    background-image: linear-gradient(to top, #ffe291 50%,#ff6e42);
    
}

head {
    height: 200px;
    object-fit: cover;
    width: 200px;
}

img {
    height: 500px;
    object-fit: cover;
    width: 500px;
}

.header {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}

.image {
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 10px;
}

a {  		
    text-decoration:none;    	
    }

#um {
        background-color: #ffaa00;
        border: 10px;
        border-radius: 20px;
        color: #dd5212;
    }

#dois {
        padding: 1em;
    }
