@charset "UTF-8";
@import url("style/header.css");
@import url("style/carrossel.css");

body, li, p{
    margin: 10px;
    padding: 0px;
}

:root {
    --cor-de-fundo:#ffe291;
    --branco: #FFFFFF;
    --laranja: #eb9b00;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --azul: #002F52;
    --preto:#000000;
    --rosa: #ff4f89;
    --fonte-principal: "Poppins";
    --azul: #002F52;
    --fonte-secundaria: "Josefin Sans";
    --preto:#000000;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

head {
    height: 200px;
    object-fit: cover;
    width: 200px;
}

img {
    height: 500px;
    object-fit: cover;
    width: 500px;
}

.header{
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}

