.cabeçalho{
    background-color: var(--rosa);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border: 20em;
    border-radius: 20em;
}

.container{
    display: flex;
    align-items: center;
    border-radius: 50px;
}

.container__imagem{
    padding: 1em;
    height: 400px;
}

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked ~ .lista-menu{
    display: block;
}

.lista-menu__titulo,
.lista-menu__item{
padding: 1em;
background-color: var(--branco);
}

.lista-menu__titulo{
    color: var(--laranja);
    font-weight: 700;
}



.container__titulo{
    display: none;
}

@media screen and (min-width: 1024px){
    .container__titulo,
    .container__titulo--negrito{
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }
}

.container__titulo{
    font-weight: 400;
    display: block;
}

.container__titulo--negrito{
    font-weight: 700;
}
